:host {
  --background-color: deepskyblue;

  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

#main-container {
  box-sizing: border-box;
  padding: .1rem .5rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--background-color);
  user-select: none;
  border-radius: 10px;
  transition: all 300ms ease;
}

#main-container:hover {
  border-radius: 5px;
}
