@import '../../global/component.css';

:host {
  --background-color: hsla(var(--primary-color-hsl), var(--primary-material-transparency));
  --background-backdrop-filter: var(--primary-material-backdrop-filter);

  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

#main-container {
  box-sizing: border-box;
  color: var(--primary-text-color);
  padding: .1rem .5rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--background-color);
  backdrop-filter: var(--background-backdrop-filter);
  user-select: none;
  border-radius: 10px;
  transition: all 300ms ease;
}

#main-container:hover {
  border-radius: 5px;
}
