:host {
  --color: deepskyblue;
  --secondary-color: white;
  --padding: .5rem;

  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

#native-element {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: var(--padding);
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  user-select: none;
  transition: all 300ms ease;
}

#native-element.fill-default {
  color: var(--secondary-color);
  background-color: var(--color);
  border: none;
}

#native-element.fill-outline {
  position: relative;
  color: var(--color);
  background-color: transparent;
  border: none;
}

#native-element.fill-outline::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  border: 2px solid var(--color);
  top: 0;
  left: 0;
  height: calc(100% - 2px * 2);
  width: calc(100% - 2px * 2);
}

#native-element.fill-clear {
  color: var(--color);
  background-color: transparent;
  border: none;
}

#native-element.fill-default:hover,
#native-element.fill-outline:hover {
  box-shadow: 0px 2px 5px 0px grey;
}

#native-element.fill-clear:hover {
  transform: scale(1.1);
  text-shadow: 0px 2px 5px grey;
}

#native-element.fill-default:active,
#native-element.fill-outline:active {
  box-shadow: inset 0px 2px 5px 0px grey;
}

#native-element.fill-clear:active {
  transform: scale(.95);
  text-shadow: 0px -1px 1px grey;
}
