@import '../../global/component.css';

:host {
  -webkit-tap-highlight-color: transparent;
}

#main-container {
  display: block;
  position: fixed;
  left: var(--position-x, 50%);
  top: var(--position-y, 50%);
  height: 200px;
  width: 300px;
  padding: .5rem;
  transform: translateX(var(--position-offset-x)) translateY(var(--position-offset-y)) scale(1);
  background-color: rgba(255, 255, 255, .75);
  border-radius: var(--border-radius);
  box-shadow: 0px 10px 20px 0px var(--shadow-color);
  backdrop-filter: blur(25px);
  z-index: var(--z-index);
  transition: transform var(--animation-duration) cubic-bezier(0.5, 0, 0.5, 1.45);
  transform-origin: var(--transform-origin);
}

#main-container.hidden {
  display: none;
}

#main-container.minimized {
  transform: translateX(var(--position-offset-x)) translateY(var(--position-offset-y)) scale(0.001);
  opacity: 0;
  transition: all var(--animation-duration) cubic-bezier(0.5, -0.45, 0.5, 1);
}
