@import '../../global/component.css';

:host {
  --border-color: hsl(var(--border-color-hue), var(--border-color-saturation), var(--border-color-lightness));
  --highlight-color: hsl(var(--primary-color-hsl));

  display: inline-block;
  margin: var(--margin);
  -webkit-tap-highlight-color: transparent;
}

#select {
  position: relative;
  color: var(--primary-text-color);
  box-sizing: border-box;
  background-color: white;
  outline: none;
  border-radius: calc(var(--border-radius) / 2);
  border: 0;
  border-bottom: 2px solid var(--highlight-color);
  padding: .5rem .5rem;
  user-select: none;
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

#select:not(.dropdown-hidden) {
  box-shadow: inset 0px 3px 5px 0px var(--shadow-color);
  transform: scale(1.025);
}

#select.dropdown-hidden {
  border-radius: var(--border-radius);
  box-shadow: unset;
  transform: scale(1);
  border-bottom: 2px solid var(--border-color);
}

#select.dropdown-hidden:hover {
  box-shadow: inset 0px 1px 3px 0px var(--shadow-color);
}

#select #dropdown-toggle-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1.45);
}

#select.dropdown-hidden #dropdown-toggle-button {
  transform: rotate(0deg);
}

#select #dropdown-toggle-button svg path {
  stroke: var(--highlight-color);
  transition: stroke 300ms;
}

#select.dropdown-hidden #dropdown-toggle-button svg path {
  stroke: black;
}

#select #placeholder {
  color: grey;
}
